/* Estilos Gerais */
.main-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}


/* Cabeçalho */
.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #ff8a00, #e52e71, #3399ff);
    color: #ffffff;
    padding: 20px 0;
    z-index: 1000;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Título Heroi */
.titulo-heroi {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right, #ff8a00, #e52e71, #3399ff);
    -webkit-background-clip: text; /* Para navegadores WebKit (Safari, Chrome) */
    -moz-background-clip: text; /* Para navegadores Mozilla (Firefox) */
    background-clip: text; /* Padrão */
    color: transparent; /* Torna o texto transparente para mostrar o gradiente de fundo */
    padding: 10px;
}

/* Mensagens */
.mensagem-cabecalho, .mensagem-descer {
    font-size: 1.5em;
    margin: 50px;
    text-align: center;
}

/* Modais */
.modal-content, .modal-header, .modal-footer, .modal-x {
    background-color: #f9f9f9;
    border: none;
    box-shadow: 0 5px 16px rgba(0,0,0,0.2);
    padding: 20px;
    color: white;
}

.modal-title {
    background-color: #f9f9f9;
    border: none;
    box-shadow: 0 5px 16px rgba(0,0,0,0.2);
    padding: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}

/* Botões */
.modal-btn {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.modal-btn:hover {
    background-color: #27ae60;
}

/* Inputs */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Submit */
input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para o Container */
.container-fluid, .container {
    padding: 20px;
}

.container-mao-para-baixo {
    display: inline-block;
    margin-top: 20px;
}

.glyphicon-hand-down {
    font-size: 2em;
    color: #3498db;
}

/* Botões de Inscrição e Entrar */
.inscrever, .entrar {
    width: 100px;
    height: 50px;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.inscrever, .entrar {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Botões do Cabeçalho */
.modal-cadastro, .modal-login {
    background-color: #6d0f70;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0;
    font-size: 16px;
    cursor: pointer;
}

.modal-cadastro {
    position: fixed;
    top: 50px;
    right: 300px;
}

.modal-login {
    position: fixed;
    top: 50px;
    right: 200px;
}

/* Quadrado */
#quadrado {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30%;
    background-color: #5a070700;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Containers de Cor */
.container-red {
    width: 100%;
    height: 35vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(195, 139, 218);
}

.container-green {
    width: 100%;
    height: 85vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(255, 138, 42);
}

.container-blue {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(139, 197, 197);
}

.container h2 {
    font-size: 2em;
    color: #fff;
    text-align: left;
    margin-top: 20px;
    
    margin-left:40px;
}


.info-box {
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.info-box h3 {
    color: #333;
}

.info-box p {
    color: #666;
}

.mensagem-descer {
    text-align: center; /* Centraliza o texto */
    margin-bottom: 30px; /* Aumenta o espaço entre a mensagem e a seta */
    position: relative; /* Habilita o posicionamento relativo para o elemento pai */
}

.mensagem-descer::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(-45deg);
    margin: auto;
    margin-top: 10px; /* Ajuste conforme necessário */
}

.mensagem-descer::before {
    content: attr(data-content); /* Utiliza o atributo data-content para o conteúdo */
    display: block;
    color: #000; /* Altere a cor do texto conforme necessário */
    font-size: 16px; /* Altere o tamanho da fonte conforme necessário */
    position: absolute; /* Habilita o posicionamento absoluto */
    top: -20px; /* Posiciona o texto acima da seta */
    left: 50%; /* Centraliza horizontalmente o texto */
    transform: translateX(-50%); /* Centraliza horizontalmente o texto */
}


.cabecalho h1 {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    margin-bottom: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.about-us,
.social-media,
.contact-info {
    flex: 1;
}

.about-us,
.social-media {
    margin-right: 20px;
}

.about-us h3,
.social-media h3,
.contact-info h3 {
    margin-bottom: 15px;
}

.about-us p,
.social-media p,
.contact-info p {
    margin-bottom: 15px;
}

.about-us hr,
.social-media hr,
.contact-info hr {
    border: 1px solid #fff;
    margin-bottom: 20px;
}

.social-buttons {
    margin-top: 10px;
}

.social-buttons a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.github,
.instagram,
.whatsapp {
    background-color: #000; /* Cor dos botões */
}

.social-buttons a:hover {
    background-color: #fff;
    color: #000;
}

.flip-background{
    background: linear-gradient(to right, #ff8a00, #e52e71, #3399ff);
}
.flip-card {
    background-color: transparent;
    /*como centralizar*/
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  

  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }